<a href="https://colab.research.google.com/github/mavalliani/Semantic-Similarity-of-Sentences/blob/master/Cosine_Similarity_with_Glove.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import nltk
import spacy
import os
import string
import gensim

In [0]:
train = pd.read_csv("/content/train_2.csv")
train = train.dropna()
train.head()

   id  ...                                                 Q2
0   0  ...  ['step', 'step', 'guide', 'invest', 'share', '...
1   1  ...  ['would', 'happen', 'indian', 'government', 's...
2   2  ...  ['internet', 'speed', 'increased', 'hacking', ...
3   3  ...  ['find', 'remainder', 'math2324math', 'divided...
4   4  ...      ['fish', 'would', 'survive', 'salt', 'water']

[5 rows x 8 columns]

In [0]:
!wget -c http://nlp.stanford.edu/data/glove.840B.300d.zip

In [0]:
import zipfile
with zipfile.ZipFile("/content/glove.840B.300d.zip", "r") as zipread:
  zipread.extractall("/content/")
  zipread.close

In [0]:
import gensim
from gensim.models import Word2Vec
from gensim.scripts.glove2word2vec import glove2word2vec

PATH_TO_GLOVE = "/content/glove.840B.300d.txt"

tmp_file = "/glove.840B.300d.w2v.txt"
glove2word2vec(PATH_TO_GLOVE, tmp_file)
glove = gensim.models.KeyedVectors.load_word2vec_format(tmp_file)

/usr/local/lib/python3.6/dist-packages/smart_open/smart_open_lib.py:402: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [0]:
import scipy
from ast import literal_eval
def cosine_distance_wordembedding_method(s1, s2):
    vector_1 = np.mean([glove[word] for word in literal_eval(s1) if word in glove],axis=0)
    vector_2 = np.mean([glove[word] for word in literal_eval(s2) if word in glove],axis=0)
    cosine = scipy.spatial.distance.cosine(vector_1, vector_2)
    return 1-cosine

In [0]:
train["cos_sim"] = train.apply(lambda x: cosine_distance_wordembedding_method(x.Q1, x.Q2), axis=1)
train.head()

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:3257: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:161: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

   id  qid1  ...                                                 Q2   cos_sim
0   0     1  ...  ['step', 'step', 'guide', 'invest', 'share', '...  0.968238
1   1     3  ...  ['would', 'happen', 'indian', 'government', 's...  0.696817
2   2     5  ...  ['internet', 'speed', 'increased', 'hacking', ...  0.881100
3   3     7  ...  ['find', 'remainder', 'math2324math', 'divided...  0.423323
4   4     9  ...      ['fish', 'would', 'survive', 'salt', 'water']  0.755832

[5 rows x 9 columns]

In [0]:
from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(train[["cos_sim"]], train["is_duplicate"], random_state=5, test_size=0.2)

In [0]:
import xgboost as xgb
options = {"model_param":
         {"eta": 0.15, 
         "max_depth": 4,
         "n_estimators":50,
         "sub_sample":0.5,
         "scale_pos_weight":1.75,
         "random_state":1,
         "eval_metric": "logloss",
         "objective": "binary:logistic"},
         "num_round":50,
         "test_frac":0.2}

In [0]:
#training model
xgbmatrix = xgb.DMatrix(train_X, train_y)
xgb_model = xgb.train(options["model_param"], xgbmatrix, options["num_round"], verbose_eval=10)
xgb_valmatrix = xgb.DMatrix(val_X)
y_val_pred = xgb_model.predict(xgb_valmatrix)
y_val_pred #just checking

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

array([0.39110422, 0.17844072, 0.65599036, ..., 0.5713001 , 0.3393073 ,
       0.7067311 ], dtype=float32)

In [0]:
y_val_pred_binary = [1 if y>0.5 else 0 for y in y_val_pred]
from sklearn.metrics import confusion_matrix, classification_report

confusion_matrix(val_y, y_val_pred_binary)

array([[29799, 21346],
       [ 6083, 23630]])

In [0]:
from sklearn.metrics import accuracy_score
accuracy_score(val_y, y_val_pred_binary)

0.6607756808231715